{% extends 'clinic/nav.html' %}
{% load static %}
{% block title %}Sales Page{% endblock %}

{% block content %}
<div class="sales-container">
    <div class="header">
        <h3>SALES</h3>
    </div>
    <div class="filter-section"> <!-- Filter: Calendar -->
        <input type="date" id="filter-date" class="date-picker">
    </div>

    <div class="stats-container"> <!-- Cards-like format -->
        <div class="card">
            <h4 class="section-header">Total Earnings</h4>
            <p id="total-earnings">₱ {{ sales_total }}</p>
        </div>
        <div class="card">
            <h4 class="section-header">Number of Products Sold</h4>
            <p id="products-sold">{{ products_sold_count }}</p>
        </div>
        <div class="card">
            <h4 class="section-header">Patient Balance</h4>
            <div id="patient-balance-list" class="patient-balance-container">
                <!-- Dynamic content will be loaded here -->
                <p>No patient balance.</p>
            </div>
        </div>
    </div>

    <div class="products-sold-section"> <!-- Products Sold -->
        <h4 class="section-header">Products Sold</h4>
        <div class="product-list">
            <!-- Dynamic content will be inserted here -->
            <p>No products sold today.</p>
        </div>
    </div>
    
</div>

<link rel="stylesheet" href="{% static 'css/sales.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="{% static 'js/sales.js' %}"></script>
{% endblock %}
