/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
}

/* Container */
.register-container {
    display: flex;
    width: 80%;
    height: 70%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Left Section */
.register-left {
    flex: 1;
    background-color: #fff;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.register-left h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: #f9f9f9;
}

.input-group label {
    margin-right: 10px;
    color: #999;
}

.input-group input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.btn-register {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-register:hover {
    background-color: #0056b3;
}

/* Right Section */
.register-right {
    flex: 1;
    background: #e6f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    color: red; /* Adjust the color based on your design */
    font-size: 14px;
}

.message {
    margin-bottom: 5px;
}

/* Show Password Checkbox */
.show-password-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.show-password-container input {
    margin-right: 5px;
    cursor: pointer;
}

.show-password-container label {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
